.project{
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    border: 2px solid red;
}

.btn{
    height: 30px ;
    width: fit-content;
    margin: auto;
    border-radius: 7px;
}